<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Qui suis-je ?</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Adrien Destremont, fan de manga !
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Mon parcours</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Je lis des mangas depuis environ 2016. Les premiers mangas que j'ai acheté sont Naruto et Détective Conan.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Aujourd'hui j'ai une collection d'environ 250 mangas. J'ai aussi diversifié les mangas que je lis. Voici la
        liste des mangas que je collectionne actuellement :
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - My Hero Academia
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Naruto
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Détective Conan
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Tokyo Revengers
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Demon Slayer
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Sakamoto Days
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Tokyo Ghoul
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Jujutsu Kaisen
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Vagabond
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Vinland Saga
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Chainsaw Man (et bien d'autres one shot de son auteur, Tatsuki Fujimoto)
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Dandadan
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Neon Genesis Evangelion
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        - Fire Punch
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Bref, j'en ai beaucoup et je crois ne pas les avoir tous listés.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
