<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-align-items-center ion-justify-content-center center">
  <div style="height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;">
    <div>
      <h4>Bienvenue dans la mangathèque !</h4>
    </div>
    <div>
      <img src="assets/téléchargement.png">
    </div>
  </div>
</ion-content>
